@media screen and (min-width: 320px)
    #projects
        height: 3350px

    .row_container
        flex-direction: column

    .row
        flex-direction: column

    .text_container
        width: 70%
        text-align: center

    .text_container_header
        font-size: 48px

    .text_container_subheader
        font-size: 17px

    .text_container_paragraphvideo_portfolio
        font-size: 18px
        text-align: center

    .img_container
        width: 70%
        height: auto

@media screen and (min-width: 1024px)
    #projects
        height: 3250px

    .row_container
        flex-direction: row

    .row
        flex-direction: row

    .img_container
        width: 100%
        height: auto

    .text_container
        width: 100%
        text-align: left

    .text_container_header
        font-size: 38px

    .text_container_subheader
        font-size: 14px

    .text_container_paragraph
        font-size: 16px
        text-align: left

.snippet-full
    max-height: 80%
    max-width: 80%

.snippet-primary-active
    z-index : 1
    max-height: 520px
    max-width: 260px
    transform: translate(-50%, -50%)

.snippet-primary-normal
    z-index : 1
    max-height : 440px
    max-width : 220px
    transform : translate(-50%, -50%)

.snippet-secondary-active
    z-index : 0
    max-height : 440px
    max-width : 220px
    transform : translate(-50%, calc(-50% + 25px))

.snippet-secondary-normal
    z-index : 0
    max-height : 360px
    max-width : 180px
    transform : translate(-50%, calc(-50% + 25px))

.video-style-native
    max-height : 560px
    max-width : 280px

.video-style-desktop
    max-height : 480px
    max-width : 720px

#projects
    display: flex
    position: relative
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%

#projects_full
    display: flex
    position: absolute
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%

.animation
    display: flex
    position: absolute
    justify-content: center
    align-items: center
    width: 100%
    height: 100%

.animation:after
    content: ''
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    width: 100%
    height: 100%
    background: linear-gradient(0, rgba(255, 255, 255, 1.0) 0%, rgba(255, 255, 255, 0.0) 15%, rgba(255, 255, 255, 0.0) 85%, rgba(255, 255, 255, 1.0) 100%)

.project_scroll
    display: flex
    position: relative
    justify-content: flex-start
    align-items: center
    flex-direction: column
    width: 100%

.project_fixed
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    position: sticky
    top: 0
    left: 0
    width: 100%

.progress
    position: absolute
    font-weight: bold
    font-family: "Brandon Grotesque", sans-serif
    top: 100%
    left: 50%
    transform: translate(-50%, 50%)

.project
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    transition: height 0.15s, width 0.15s

.project_small
    position: absolute
    width: 85%
    height: 85%

.project_full
    position: relative
    width: 100%

.row_steps
    display: flex
    position: relative
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    height: 100%

.row
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    height: 100%
    padding: 64px 16px

.row_background
    display: flex
    position: absolute
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100%
    width: 100%

.row_container
    display: flex
    position: relative
    justify-content: center
    align-items: center
    width: 95%
    height: 100%

    > .column_container:last-of-type
        z-index : 0
        flex-direction: row

.column_container
    display: flex
    z-index : 1
    position: relative
    justify-content: center
    align-items: center
    flex-direction: column
    flex: 1
    height: 100%

.project_overview
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    min-height: 20px
    position: absolute
    cursor: pointer
    top: 100%
    left: 50%
    transform: translate(-50%, -150%)

.project_other
    z-index : 1
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    top: 16px
    left: calc(100% - 48px)
    transform: translate(-100%, 50%)

.project_action_link
    margin: 0 24px
    color: white
    opacity: 0.8
    font-size: 18px
    font-family: "Brandon Grotesque Regular", sans-serif
    cursor: pointer
    text-decoration: none

    &:hover
        opacity: 1.0

.project_action_text
    color: white
    font-size: 20px
    font-family: "Brandon Grotesque Regular", sans-serif
    font-weight: bold
    animation: glow 1s ease-out alternate-reverse infinite
    transform-origin: center
    cursor: pointer

.project_action_text:hover
    animation: none

@keyframes glow
    0%
        opacity: 0.6
        transform: scale(1.0)
    100%
        opacity: 1.0
        transform: scale(1.015)

.project_interaction_component
    padding: 8px

.project_interaction_circle
    width: 14px
    height: 14px
    border-radius: 12px
    opacity: 0.4

.project_interaction_circle_primary
    transform-origin: center
    transform: scale(1.15)
    opacity: 1.0

.brand_container
    position: absolute
    display: flex
    top: 16px
    left: 16px
    opacity: 1.0
    transform: translate(50%, 50%)
    justify-content: center
    align-items: center
    flex-direction: column
    width: 48px
    height: auto

.showcase_item
    position: absolute
    transition: opacity 2s ease-in-out
    opacity: 1.0
    top: 50%
    left: 50%

.img_portfolio
    position: absolute
    top: 50%
    -webkit-transition: max-height 300ms ease-in-out, max-width 300ms ease-in-out, left 300ms ease-in-out
    transition: max-height 300ms ease-in-out, max-width 300ms ease-in-out, left 300ms ease-in-out

.portfolio_interaction
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.portfolio_bar
    position: relative
    max-width: 280px

.video_portfolio
    position: relative
    margin: -2px 0

.container_pulse
    position: absolute
    z-index: 0
    top: 50%
    left: 50%
    width: 450px
    height: 450px
    transform: translate(-50%, -50%)
    background-color: transparent
    border-radius: 50%
    border: 2px solid white

.container_pulse_fast
    animation: pulsating-fast 0.75s infinite

.container_pulse_slow
    animation: pulsating-fast 1.5s infinite

@keyframes pulsating-fast
    0%
        transform: translate(-50%, -50%) scale(0, 0)
        opacity: 0.8

    100%
        transform: translate(-50%, -50%) scale(1.0, 1.0)
        opacity: 0

@keyframes pulsating-slow
    0%
        transform: translate(-50%, -50%) scale(0, 0)
        opacity: 0.8

    100%
        transform: translate(-50%, -50%) scale(1.0, 1.0)
        opacity: 0

.text_container
    display: flex
    width: 85%
    flex-direction: column

.text_container_header
    color: white
    font-size: 44px
    font-family: "Brandon Grotesque Regular", sans-serif
    font-weight: bold

.text_container_subheader
    margin: 4px 0
    color: white
    opacity: 0.8
    font-weight: 100
    font-size: 14px
    font-family: "Brandon Grotesque Regular", sans-serif

.text_container_paragraph
    margin: 20px 0
    color: white
    font-size: 18px
    font-family: "Brandon Grotesque Regular", sans-serif

.slash_style
    position: relative
    font-size: 10px
    top: -1px
    margin: 0 1px

.text_container_link
    display: inline
    margin: 20px 0
    color: white
    opacity: 0.8
    font-size: 18px
    font-family: "Brandon Grotesque Regular", sans-serif
    text-decoration: none
    animation: glow-link 1s ease-out alternate-reverse infinite

    &:hover
        opacity: 1.0
        animation: none

@keyframes glow-link
    0%
        opacity: 0.6
    100%
        opacity: 1.0