* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.html-css {
    background-image: -webkit-linear-gradient(#666CCC, #BC1324);
}

.javascript {
    background-image: -webkit-linear-gradient(#BC1324, #f1c40f);
}

.js-browser {
    background-image: -webkit-linear-gradient(#f1c40f, #2ecc71);
}

.node {
    background-image: -webkit-linear-gradient(#2ecc71, #9b59b6);
}

.content {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-block {
    overflow: scroll;
    width: 350px;
    height: 350px;
    margin: 10px;
    padding: 20px;
    background: #1abc9c;
}

::-webkit-scrollbar {
    display: none;
}

.content-block:hover {
    background: #e67e22;
}

.title-header {
    padding: 40px 0 40px 0;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

.header {
    font-size: 24px;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 1px solid white;
}

.subheader {
    font-size: 16px;
    margin: 10px 0 4px 0;
    font-weight: 600;
    color: #2c3e50;
}

.text-paragraph {
    font-size: 12px;
    margin-left: 4px;
}