@media screen and (min-width:320px){
    #projects {
        height: 3330px;
        top: -180px;
        margin-bottom: -180px;
    }

    .about_me_image {
        max-width: 30%;
    }

    .about_me {
        width: 50%;
    }

    .row {
        height: 800px;
        flex-direction: column;
        padding: 60px 0;
    }

    .row:first-of-type {
        height: 600px;
    }

    .row:nth-of-type(4)>.row_container:nth-of-type(1) {
        order: 2;
    }

    .row:nth-of-type(4)>.row_container:nth-of-type(2) {
        order: 1;
    }
}
@media screen and (min-width:480px){

}
@media screen and (min-width:768px){

}
@media screen and (min-width:1024px){
    #projects {
        top: -180px;
        margin-bottom: -100px;
        height: 2250px;
    }

    .about_me_image {
        max-width: 30%;
    }

    .about_me {
        width: 25%;
    }

    .row {
        height: 600px;
        flex-direction: row;
        padding: 0;
    }

    .row:first-of-type {
        height: 550px !important;
    }
    
    .row:nth-of-type(4)>.row_container:nth-of-type(1) {
        order: 1;
    }

    .row:nth-of-type(4)>.row_container:nth-of-type(2) {
        order: 2;
    }
}
@media screen and (min-width:1200px){

}
@media screen and (min-width:1600px){

}

#projects {
    position: relative;
    left: 0;
    width: 100%;
    background-color: #E29470;
    z-index: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row:nth-of-type(2) {
    background-color: #E29470;
}

.row:nth-of-type(4) {
    background-color: #66A7D5;
}

.row:nth-of-type(6) {
    background-color: #CC527A;
}

.row:first-of-type {
    background: url("./../assets/images/projects/background.jpg") no-repeat;
    background-size: cover;
}

.about_me {
    position: relative;
    top: 10%;
    text-align: center;
}

.about_me_image {
    height: auto;
}

.text_about_header {
    margin: 5px 0;
    font-size: 28px;
    color: #EF4836;
    letter-spacing: 1.5px;
    font-family: "Space Mono", serif;
}

.text_about_subheader {
    margin: 10px 0;
    font-size: 16px;
    color: darkslategray;
    font-family: Roboto, sans-serif;
}

.row:first-child {
    height: 450px;
    background-color: white;
}

.row_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.img_container {
    width: 70%;
    height: auto;
}

.img_portfolio {
    height: auto;
    width: 100%;
}

.text_container {
    margin: 0 15%;
    text-align: center;
}

.text_container_header {
    color: white;
    font-size: 38px;
    font-family: 'Roboto Slab', serif;
}

.text_container_subheader {
    color: floralwhite;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Roboto Slab', sans-serif;
}

.text_container_paragraph {
    margin: 20px 0;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.slash_style {
    position: relative;
    font-size: 10px;
    top: -2px;
}

.divider {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.divider_container {
    position: relative;
    top: -12px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.first_rect_up {
    position: relative;
    left: -6px;
    margin: 0 6px;
    background-color: #66A7D5;
    width: 12px;
    height: 12px;
}

.first_rect_bottom {
    position: relative;
    left: 6px;
    margin: 0 6px;
    background-color: #E29470;
    width: 12px;
    height: 12px;
}

.second_rect_up {
    position: relative;
    left: 6px;
    margin: 0 6px;
    background-color: #CC527A;
    width: 12px;
    height: 12px;
}

.second_rect_bottom {
    position: relative;
    left: -6px;
    margin: 0 6px;
    background-color: #66A7D5;
    width: 12px;
    height: 12px;
}
